<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::title},~{::section},_)}">

<head>
	<meta charset="UTF-8">
	<title>게시글 리스트</title>
</head>

<body>
	
	

	<section>
		게시글 리스트 화면<br>
		<!-- <ul>
			<li  style="display:flex;">
				<p>번호</p>
				<p>제목</p>	
			</li>
			<li th:each="post: ${postList}" style="display:flex;">
				<p th:text="${post.getPostid()}"></p>
				<a href="/" th:href="@{/posts/{postid}(postid=${post.getPostid()})}">
					<p th:text="${post.getTitle()}"></p>
				</a>

			</li>
		</ul> -->
		<!-- <a href="/posts/sortviewcount">조회순</a><a>|</a><a href="/posts/sortrecommended">추천순</a> -->
		<div class="container-fluid">
			<div class="row">
				<table class="table table-hover">
					<thead>
						<tr class="warning">
							<th class="col-sm-1">회원번호</th>
							<th class="col-sm-5">회원이름</th>
							<th class="col-sm-3">유형</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="member : ${memberList}">
							<td th:text="${member.getNo()}"></td>
							<td th:text="${member.getMemberid()}"></td>
							<th:block th:if="${member.getRole()} == 0">
								<td th:text="일반"></td>
							</th:block>
							<th:block th:if="${member.getRole()} == 1">
								<td th:text="전문가"></td>
							</th:block>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a href="/posts/create">글쓰기</a>
	</section>
</body>

</html>